{% extends 'service/homebase.html' %}


{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-bottom:0px;">
  <h1 class="display-4" style="text-align:center;">Hello, Customer</h1>
  <p class="lead">Welcome to Service Appointment System.</p>
  <hr class="my-4">

  <p class="lead">
    <a class="btn btn-danger btn-lg" href="/customersignup" role="button">Register Your Account</a>
    <a class="btn btn-success btn-lg" href="/customerlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}
